/* se puede hacer en un useefect o porner aqui las que tenemos en applight */
:root {
    --text-primary: #000000;

    --bg-primary: #ffffff;
    --bg-secondary: #a9a9a9;
    

    --btn-text-primary: #ffffff;
    --btn-bg-primary: #222a11;


}