@tailwind base;
@tailwind components;
@layer components {
    .form-label {
        @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white
    }

    .form-input {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
    }
}
@tailwind utilities;


.CommentList {
    height: 100px;
    max-width: 300px;
    overflow: scroll;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .List {
    border: 1px solid #d9dddd;
  }
  
  .ListItemEven,
  .ListItemOdd {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ListItemEven {
    background-color: #f8f8f0;
  }
  